pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.rebel_readline_history

.idea/

# Luminus generated gitignore

/lib
/classes
/checkouts
dev-config.edn
test-config.edn
/.lein-*
profiles.clj
/.env
/log

*.db