<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome to g2</title>
  </head>
  <body>
      <div id="navbar">
          <nav>
              <a class="nav-link" href="/repositories">Repositories</a>
              <a class="nav-link" href="/hooks">Hooks</a>
              <a class="nav-link" href="/repositories/sync">Repositories - sync</a>
          </nav>
      </div>
      <div>
          <section>
          <h3>Repository providers</h3>
          <a href="/oauth/github">Authorize github organization</a>
          <table>
              <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Secret</th>
              </tr>
              {% for provider in repo-providers %}
              <tr>
                  <td>{{provider.id}}</td>
                  <td>{{provider.name}}</td>
                  <td>{{provider.access_token|subs:0:6}}...</td>
              </tr>
              {% endfor %}

          </table>
          </section>
          <section>
        <h3>Projects</h3>
        <ul>
            {% for project in projects %}
            <li>{{project}}</li>
            {% endfor %}
        </ul>
          </section>
    </div>
    <div id="app">
    </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/all.css" %}
    {% style "/css/screen.css" %}

    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/font-awesome/js/all.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript">
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
