<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome to g2</title>
  </head>
  <body>
      <div id="navbar">
          <a href="/oauth/github">oauth github</a>
      </div>
      <div>
          <b>Organizations</b>
          <ul>
              {% for org in organisations %}
              <li>{{org}}</li>
              {% endfor %}
          </ul>
        <b>Projects</b>
        <ul>
            {% for project in projects %}
            <li>{{project}}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="app">
    </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/all.css" %}
    {% style "/css/screen.css" %}

    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/font-awesome/js/all.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript">
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
